.fullPage {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writeHolder {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  min-height: 40%;
  min-width: 80%;
  max-width: 80%;
  justify-content: center;
}

.progressArea {
  flex-flow: column;
  display: flex;
  max-width: 20%;
  min-width: 20%;
  flex-grow: 0;
  min-height: 100%;
  padding: 20px;
  background-color: #3d5a65;
  align-items: flex-start;
}

.writingArea {
  display: flex;
  min-height: 100%;
  max-width: 75%;
  min-width: 75%;
  flex-grow: 0;
  background-color: #3d5a65;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  flex-flow: column;
}

.termHeader {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.termText {
  padding-right: 5px;
  font-size: 35px;
  color: white;
}

.smallerTermText {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

.smallerTextHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}
.answerArea {
  margin: auto;
  display: flex;
  flex-flow: row;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.answerInput[contenteditable="true"] {
  font-family: inherit;
  padding: 0;
  min-width: 80%;
  max-width: 80%;
  flex-grow: 0;
  min-height: 35px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  border: none;
  box-shadow: 0 3px 0 #fcf3b7;
  background: transparent;
  color: white;
  transition: 0.1s;
}

.answerBox {
  overflow-wrap: anywhere;
  align-items: flex-end;
  display: flex;
  padding-bottom: 5px;
  width: 80%;
  white-space: pre-wrap;
  min-height: 40px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
}

.corAnswer {
  box-shadow: 0 6px 0 lightgreen;
}

.incAnswer {
  box-shadow: 0 6px 0 coral;
}

.memAnswer {
  box-shadow: 0 6px 0 lightseagreen;
}

.answerInput:focus {
  outline: none;
  box-shadow: 0 6px 0 #fcf3b7;
}
.answerInput::placeholder {
  color: white;
}

.answerButtonBox {
  padding-top: 6px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.answerButton {
  width: 75%;
  background: #d5a150;
  border-radius: 5px;
  height: 50px;
  border: none;
  
}

.correctAnimation {
  animation: answerAnimation;
  animation-duration: 0.5s;
}
@keyframes answerAnimation {
  from {background: #d5a150 ;}
  to {background: green;}
}
.continueButtonBox {
  margin-top: 10px;
  width: 75%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.continueButton {
  width: 20%;
  background: #d5a150;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.overrideButton {
  margin-left: 10px;
  background: transparent;
  border: none;
}

.overrideButton > span {
  text-decoration: underline;
}

.overrideButton:hover {
  cursor: pointer;
}

.overrideButton:hover > span {
  color: #fcf3b7;
}
.continueButton:hover {
  background-color: #af8645;
  cursor: pointer;
}

.buttonText {
  font-size: 20px;
  color: white;
}
.answerButton:hover {
  background-color: #a8cd9f;
  cursor: pointer;
}

.skip {
  margin: auto;
  margin-right: 3%;
  font-size: 17px;
  color: #fcf3b7;
}

.skip:hover {
  color: #d5a150;
  cursor: pointer;
}

.progressHolder {
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.progressBarArea {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
}

.progressBar[value] {
  width: 100%;
  height: 50%;
  -webkit-appearance: none;
  appearance: none;
}

.progressBar::-webkit-progress-value {
  transition: width 0.5s;
}

.remBar[value]::-webkit-progress-bar {
  background-color: #a8cd9f;
  border-radius: 5px;
}
.remBar[value]::-webkit-progress-value {
  background-color: #58a399;
  border-radius: 5px;
}
.corBar[value]::-webkit-progress-bar {
  background-color: lightgreen;
  border-radius: 5px;
}
.corBar[value]::-webkit-progress-value {
  background-color: green;
  border-radius: 5px;
}
.incBar[value]::-webkit-progress-bar {
  background-color: coral;
  border-radius: 5px;
}

.incBar[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 5px;
}

.barText {
  color: white;
  font-size: 17px;
}

.barTextRight {
  float: right;
}

.answerDetail {
  margin-left: 10px;
  color: white;
}

.recapHolder {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.recapAnswers {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.recapTerm {
  width: 50%;
  display: flex;
  align-items: center;
}

.recapAnswer {
  overflow-wrap: anywhere;
  width: 50%;
  display: flex;
  align-items: center;
}

.overallText {
  font-family: inherit;
  color: white;
  font-size: 20px;
}

.correctText {
  font-family: inherit;
  color: #90ee90;
  font-size: 20px;
  margin-left: 2px;
}

.incorrectText {
  font-family: inherit;
  color: #f08080;
  font-size: 20px;
  margin-left: 2px;
}

.bold {
  font-weight: bold;
}

.mcAnswerArea {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mcAnswerChoice {
  width: 48%;
  min-height: 45px;
  border: 2px solid #d5a150;
  margin-bottom: 15px;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

.mcAnswerChoice:hover {
  border: 2px solid #fcf3b7;
  cursor: pointer;
}
.mcAnswerBox {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.mcCorrectAnswer {
  pointer-events: none;
  outline: 2px solid lightgreen;
  border-color: lightgreen;
  transition: 0.25s;
}

.mcIncorrectAnswer {
  pointer-events: none;
  outline: 2px dashed lightcoral;
  border: 2px dashed lightcoral;
  transition: 0.25s;
}

.mcCorrectOnIncorrectAnswer {
  pointer-events: none;
  outline: 2px solid lightgreen;
  border-color: lightgreen;
  transition: 0.25s;
}
.mcChoiceLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.answerChoiceText {
  font-family: inherit;
  color: white;
  margin-left: 15px;
}

.bpaText {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.resultIcon {
  flex-shrink: 0;
}

.keyContinueText {
  color: white;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  animation: inherit;
}

.continueExtraMargin {
  margin-left: 10px;
}

.mcContinueButton {
  background: #d5a150;
  border-radius: 10px;
  height: 35px;
  border: none;
  margin-left: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  animation: inherit;
}

.mcContinueButton:hover {
  background-color: #af8645;
  cursor: pointer;
  animation: inherit;

}
.mcContinueBox {
  width: 100%;
  align-items: center;
  animation: inherit;
  display: flex;
  opacity: 0;
  margin: auto;
  margin-bottom: 5px;
}

.mcContinueDisplay {
  animation: iconFadeIn 0.5s;
  opacity: 1;
}

.mcBottomPadding {
  padding-bottom: 5px;
}

.mcResultIcon {
  flex-shrink: 0;
  animation: iconFadeIn 0.25s;;
}

@keyframes iconFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.learnProgressHolder {
  width: calc(64% - 16px);
  height: 20px;
  border-radius: 10px;
  display: flex;
  border: 3px solid #3d5a65;
  margin-top: 25px;
  overflow: hidden;
}

.learnRecapBar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  display: flex;
  border: 3px solid #3d5a65 ;
  overflow: hidden;
}
.learnProgressCard {
  flex-grow: 1;
  border-right: 3px solid #3d5a65;
  text-align: center;
  font-family: inherit;
  color: white
}

.lastProgress {
  border: none;
}

.progressOne {
  background-color: darkred;
  transition: 0.5s;
}

.progressTwo {
  background-color: darkgoldenrod;
  transition: 0.5s;
}

.progressThree {
  background-color: lightgreen;
  transition: 0.5s;
}

.progressFour {
  background-color: darkgreen;
  transition: 0.5s;
}

.learnHolder {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.learnModeHeight {
  min-height: 40vh;
}

.writeLearnHolder {
  display: flex;
  justify-content: center;
  min-height: 50%;
  min-width: 80%;
}

.accentBox {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: white;
  border: 3px solid #a8cd9f;
  border-radius: 5px; 
  margin-left: 10px;
}

.accentBox:hover {
  background-color: #a8cd9f;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.createBox {
  padding-top: 10px;
  width: 100%;
  min-height: calc(100vh - 92px);
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: lightgray;
  padding-bottom: 10px;
}

.topCreateBox {
  width: 80%;
  display: flex;
  flex-flow: column;
}

.topBoxHeader {
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;
}

.createBold {
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
}

.createButton {
  border: 1px solid #58a399;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #58a399;
}

.createButtonText {
  color: white;
  font-family: inherit;
  font-weight: bold;
}

.createButton:hover {
  background-color: #a8cd9f;
  border-color: #a8cd9f;
  cursor: pointer;
}

.topBoxFooter {
  display: flex;
  margin-top: 15px;
  flex-flow: row;
}

.bottomButtons {
  border: 1px solid #58a399;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58a399;
  margin-right: 10px;
  height: 40px;
}

.bottomButtons:hover {
  background-color: #a8cd9f;
  border-color: #a8cd9f;
  cursor: pointer;
}

.createTitle {
  resize: none;
  border: 1px solid white;
  background-color: white;
  font-family: inherit;
  font-size: 25px;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 15px;
  white-space: nowrap;
  line-height: 40px;
  padding-left: 5px;
}

.createTitle:focus {
  outline: #a8cd9f solid 4px;;
}

.createDescription {
  resize: none;
  border: 1px solid white;
  background-color: white;
  font-family: inherit;
  font-size: 15px;
  border-radius: 10px;
  height: 150px;
  line-height: 30px;
  padding-left: 5px;
}

.createDescription:focus {
  outline: #a8cd9f solid 4px;
}

.createCard {
  padding-top: 5px;
  background-color: white;
  margin-top: 10px;
  width: 100%;
}

.newCardHeader {
  width: 100%;
  display: flex;
}

.createSmallHeader {
  font-family: inherit;
  font-size: 20px;
  margin-left: 2%;
  font-weight: bold;
}

.createDeleteText {
  font-family: inherit;
  font-size: 15px;
  color: white;
}

.createDeleteButton {
  margin-left: auto;
  margin-right: 2%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gray;
}

.createDeleteButton:hover {
  cursor: pointer;
  background-color: darkred;
  border-color: darkred;
}

.newCardWriting {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.newCardWriteBox {
  width: 47%;
  display: flex;
  flex-flow: column;

}

.newCardFooter {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
}

.newCardWriteArea {
  width: 100%;
  resize: none;
  border: none;
  border: 1px solid #a8cd9f;
  border-radius: 10px;
  outline: #a8cd9f solid 2px;
  font-family: inherit;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

.createCardHolder {
  width: 100%;
}

.errorBold {
  font-family: inherit;
  font-size: 20px;
  color: darkred;
  font-weight: bold;
  margin-bottom: 10px;
}

.subheaderText {
  color: white;
  font-family: inherit;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.memButtonBox {
  margin-left: 10px;
  display: flex;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.memButton {
  width: 30%;
  margin-right: 5px;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.memButton:hover {
  cursor: pointer;
}
.memButtonGreen {
  background: darkgreen;
}
.memButtonGreen:hover {
  background: green;
}
.memButtonYellow {
  background: darkgoldenrod;
}
.memButtonYellow:hover {
  background: #bfb32c;
}

.memButtonRed {
  background: darkred;
}

.memButtonRed:hover {
  background: #bf3424;

}

.languageSelect {
  margin-left: auto;
  font-family: inherit;
  border-radius: 10px;
  border-width: 3px;
  border-color: #a8cd9f;
}

.languageSelect:focus {
  outline: none;
}

.newCardSettings {
  display: flex;
  margin-bottom: 3px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #913330;
}

.navbarCreate {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: #d5a150;
  padding: 5px;
  border: 1px solid #d5a150;
  border-radius: 10px;
  margin-left: 5px;
}

.logoHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarRight {
  margin-left: auto;
  margin-right: 1rem;
}


.navbarLeft {
  display: flex;
  align-items: center;
}

.logoText {
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.navbarCreate:hover {
  background-color: #3d5a65;
  border-color: #3d5a65;
  cursor: pointer;
}

.setHome {
  display: flex;
  flex-flow: column;
  margin-left: 25px;
  margin-right: 25px;
}

.homeHeader {
  margin-top: 25px;
  display: flex;
  flex-flow: column
}

.titleText {
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
}

.descText {
  margin-top: 5px;
  font-size: 1rem;
  color: black;
  font-size: 1rem;
}

.homeButtons {
  display: flex;
  width: 40%;
  margin-top: 10px;
}


.homeButtonText {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  width: 30%;
  background-color: #3d5a65;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #3d5a65;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.homeButtonText:hover {
  cursor: pointer;
  background-color: #d5a150;
  border-color: #d5a150;
}

.homeCardHolder {
  margin-top: 10px;
  
}

.homeCard {
  width: 50%;
  border: 1px solid #fcf3b7;
  background-color: #fcf3b7;
  display: flex;
  padding: 5px;
}

.homeCardTermHolder {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.homeCardTermLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.homeCardTerm {
  font-size: 1.1rem;
}

.homePage {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.homePgHeader {
  height: calc(100vh - (72px));
  align-items: center;
  display: flex;
  width: 60%;
  justify-content: center;
  flex-flow: column;
}

.homeTitle {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 5px;
}

.homeDesc {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.homeCreate {
  font-size: 2rem;
  font-weight: bold;
  background-color: #3d5a65;
  color: white;
  padding: 10px;
  border: 1px solid #3d5a65;
  border-radius: 10px;
}

.homeCreate:hover {
  border-color: #d5a150;
  background-color: #d5a150;
}

.homeSets {
  margin-top: 10px;
  display: flex;
  width: 80%;
  flex-flow: column;
}

.homeSetTitle{
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


.homeSetHolder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.homeSet {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fcf3b7;
  border: 1px solid #fcf3b7;
  padding: 10px;
  border-radius: 7px;
}

.homeSetName {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
}

.homeSetDesc {
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;

}

.homeSet:hover {
  cursor: pointer;
}

.backSet {
  font-size: 1rem;
}

.notFoundPage {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundText {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}